* {
margin: 0px;
padding: 0px;

}
/*上方*/
.blueview 
{
	height:10%;
	text-align:center;
	line-height:400%;
	background-color: #41C7DB;
	color:white;
	font-family:"幼圆";
	font-size:20px;
	font-style:bold;
}
/*上方的图标*/
.icon1
{
	position:absolute;
	top:5%;
	left:70%;;
	height:4%;
	width:2%;
	display:inline;
}
/*上方的按钮*/
.tab1
{
	position:absolute;
	vertical-align:text-top;
	top:5%;
	left:72%;;
	height:4%;
	width:6%;
	display:inline;
	border: none;
	background-color:transparent;
	color:white;
	font-family:"幼圆";
	font-size:20px;
}

.icon2
{
	position:absolute;
	top:5%;
	left:76%;;
	height:4%;
	width:2%;
	display:inline;
}

.tab2
{
	position:absolute;
	vertical-align:text-top;
	top:5%;
	left:78%;;
	height:4%;
	width:4%;
	display:inline;
	border: none;
	background-color:transparent;
	color:white;
	font-family:"幼圆";
	font-size:20px;
}

.icon3
{
	position:absolute;
	top:5%;
	left:82%;;
	height:4%;
	width:2%;
	display:inline;
}

.tab3
{
	position:absolute;
	vertical-align:text-top;
	top:5%;
	left:84%;;
	height:4%;
	width:4%;
	display:inline;
	border: none;
	background-color:transparent;
	color:white;
	font-family:"幼圆";
	font-size:20px;
}
/*左边*/
.introview
{
	position:absolute;
	top:16%;
	height:100%;
	width:20%;
	background-color:#CCC;
}
/*左边的标题*/
.introview h2
{
	position:absolute;
	color:#0BACE1;
	font-family:"幼圆";
	font-size:25px;
	top:2%;
	left:5%;
}
/*左边的下划线*/
.introview hr
{
	position:absolute;
	background-color:#0BACE1;
	border:0;
	height:0.5%;
	width:90%;
	top:6%;
	left:4%;
}
/*左边的课程简介*/
.introview text
{
	position:absolute;
	top:16%;
	left:4%;
	color:#000;
}
/*主体*/
.contentview1
{
	position:absolute;
	top:16%;
	left:20%;
	width:80%;
	height:30%;
}

.contentview1 h2
{
	position:absolute;
	color:#0BACE1;
	font-family:"幼圆";
	font-size:25px;
	top:5%;
	left:2%;
}

.contentview1 hr
{
	position:absolute;
	background-color:#0BACE1;
	border:0;
	height:1.5%;
	width:90%;
	top:20%;
	left:2%;
}

.back
{
	position:absolute;
	top:7%;
	left:85%;
	height:10%;
	width:6%;
	background-color:#D4EEF2;
}

.discuss1
{
	position:absolute;
	top:25%;
	left:10%;
	height:35%;
	width:17%;
	border-radius:15px;
	background-color:#0BACE1;
	color:#fff;
	font-family:"幼圆";
	font-size:20px;
}

.discuss2
{
	position:absolute;
	top:25%;
	left:33%;
	height:35%;
	width:17%;
	border-radius:15px;
	background-color:#0BACE1;
	color:#fff;
	font-family:"幼圆";
	font-size:20px;
}

.discuss3
{
	position:absolute;
	top:25%;
	left:56%;
	height:35%;
	width:17%;
	border-radius:15px;
	background-color:#0BACE1;
	color:#fff;
	font-family:"幼圆";
	font-size:20px;
}

.discuss4
{
	position:absolute;
	top:70%;
	left:10%;
	height:35%;
	width:17%;
	border-radius:15px;
	background-color:#0BACE1;
	color:#fff;
	font-family:"幼圆";
	font-size:20px;
}

.discuss5
{
	position:absolute;
	top:70%;
	left:33%;
	height:35%;
	width:17%;
	border-radius:15px;
	background-color:#0BACE1;
	color:#fff;
	font-family:"幼圆";
	font-size:20px;
}

.discuss6
{
	position:absolute;
	top:70%;
	left:56%;
	height:35%;
	width:17%;
	border-radius:15px;
	background-color:#0BACE1;
	color:#fff;
	font-family:"幼圆";
	font-size:20px;
}


.contentview2
{
	position:absolute;
	top:50%;
	left:20%;
	width:80%;
	height:30%;
}

.contentview2 h2
{
	position:absolute;
	color:#0BACE1;
	font-family:"幼圆";
	font-size:25px;
	top:5%;
	left:2%;
}

.contentview2 hr
{
	position:absolute;
	background-color:#0BACE1;
	border:0;
	height:1.5%;
	width:90%;
	top:20%;
	left:2%;
}

.group1
{
	position:absolute;
	top:25%;
	left:10%;
	height:35%;
	width:17%;
	border-radius:15px;
	background-color:#0BACE1;
	color:#fff;
	font-family:"幼圆";
	font-size:20px;
}
/*讨论课查看*/
  .seminar
  {
    position:absolute;
    top:24%;
	height:90%;
     left:30%;
	width:80%;
	color:#000;
	font-family:"幼圆";
	font-size:20px;
  }
  .seminar h2
{
	position:absolute;
	color:#000;
	font-family:"幼圆";
	font-size:15px;
	top:5%;
	
}
   .seminar hr
{
	position:absolute;
	background-color:#41C7DB;
	border:1;
	width:80%;
	
}
  /*信息列表*/
 .seminar ul.none
 {
     line-height: 200%;
     font-size:20px;
    list-style-type :none
     }
	 
.topic
  {
    position:absolute;
    top:50%;
	height:90%;
     left:35%;
	width:80%;
	color:#000;
	font-family:"幼圆";
	font-size:20px;
  }
  .topic h1{
  font-size:20px;
  color:#0BACE1;
  }
 .topic ul 
 {
     line-height: 200%;
     font-size:18px;
    list-style-type :none
     }
  
	 
