*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}

.box{
	background-color: black;
	height: 950px;/*本高度适用于1080p下Chrome浏览器*/
}
/*
 * 顶部标题栏
 */
.header{
	height: 10%;
	background-color: #7AD8E6;
	
}
.header h1{
	color: white;
	text-align: center;
	padding: 30px;
}
.header h1 a{
	font-size: 5px;
	padding: 0 0px;
	position: relative;
	left: 520px;
	text-decoration: none;
	color: white;
}
.header h1 a:link,.header h1 a:visited {
	color: #8E8E8E;
	text-decoration: none;
}
.header h1 a:hover,.header h1 a:active {
	color:rgba(255,209,75,1.00) ;
	text-decoration: none;
}
.header h1 a img{
	width: 24px;
	position: relative;
	top: 5px;
	right: 2px;
}

/*
 * 主体部分
 */		
.main_box{
	height: 84%;
	
	background-color: green;
	
}		
/*
 * 左侧区导航
 */
.main_box_left{
	float: left;
	width: 16%;
	height: 100%;
	background-color: #E0E0E0;

}
.main_box_left h2{
	color: #2FB5E1;
	
	margin-left: 50px;
}
.main_box_left hr{
	color: #2FB5E1;
	border: 1px solid #2FB5E1;
	margin-left: 10px;
	margin-right: 10px;
}
.main_box_left div p{
	padding: 5px 10px;
}
/*
 * 右侧区信息显示
 */
.main_box_right{
	float: right;
	/*height: 900px;*/
	width: 84%;
	height: 100%;
	background-color: white;
}
.main_box_right h2{
	color: #2FB5E1;
	margin-left: 10px;
}
.main_box_right hr{
	color: #2FB5E1;
	border: 1px solid #2FB5E1;
	margin-left: 10px;
	margin-right: 10px;
}


/*
 * 头像区
 */
.img{
	float:left;
	width: 16%;
	
	background-color: white;
	}
	
	
		/*
 * 信息修改区
 */
	.info{
		float: right;
	/*height: 900px;*/
	
	/*height: 900px;*/
	width: 75%;
	
	background-color: white;
		}
		
	.info table{
		width:100%;}
	.info td{
			height:50px;}
	.button {
		padding-left:250px;
		}
.button button{
	margin-left:300px;
	border:none ;
	border-radius: 10px;
	margin-right: 10px;
	width:100px;
	height:30px;
	margin:0px auto}			
			
/*
 * 底部签名栏
 */
 .footer{
	height: 6%;
	/*background-color: blue;*/
	background-color: white;
	
}
.footer p{
	float: right;
	margin-right: 200px;
	font-size: 10%;
	color: #B9B9B9;
}